.body-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 91vh;
    margin-left: 50px;
    margin-top: 75px;
    color: white;
    font-family: "PixelColeco";;

}

.hidden {
    display: none;
}
