.body-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 91vh;
    margin-left: 50px;
    margin-top: 75px;
    color: white;
    font-family: "PixelColeco";;

}

.hidden {
    display: none;
}

.technologies-container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    margin-top: 30px;
    gap: 20px;
}

.tech-image {
    height: 100px;
    width: 100px;
}

.tech-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(108, 122, 137, .7);
}
